h1{
    text-align: center;
}

p{
    text-align: center;
}

.tag-line{
    text-align: center;
}

.introduction{
    padding:50px;
    padding-top:15px;
    padding-bottom: 15px;
}

.event{
    width: 100%;
    height: 90vh;
   
}

.row{
    display: flex;
}

.right{
    margin: auto;
    margin-left: 50px;
}
.btn{
    margin-left: 50%;
}

button{
    background-color: white;
    text-align: center;
}

button:hover{
    background-color: rgb(15, 15, 15) ;
    color: white;
}